#backtoschool {
    color: var(--purpleTxt);
    margin: 10rem 0 0;
}
#backtoschool .logoArea {
    margin: 0 auto;
    max-width: 45rem;
}
#backtoschool .logoArea h3 {
    font-size: 3rem;
    line-height: 5rem;
}
#backtoschool .logoArea p {
    text-align: center;
}
#backtoschool .searchBox {
    background: #efefef;
    border-radius: 20px;
    max-width: 50rem;
    /* width: 100%; */
    margin: 4rem auto;
    padding: 0 1rem;
}
#backtoschool .searchBox input {
    width: 90%;
    height: 100%;
    background: transparent;
    font-size: 1.8rem;
    color: var(--purpleTxt);
}
#backtoschool .searchBox i {
    padding: 1rem;
    font-size: 2rem;
    line-height: 3rem;
    color: #aaa;
    animation: scale 1s linear infinite alternate;
}

/* Responsive */
@media only screen and (max-width: 500px) {
    #backtoschool .searchBox input {
        width: 80%;
    }
}
