#footer {
    width: 100%;
    background: url("../img/footer-bg.png") left top no-repeat;
    background-size: 100%;
    padding: 15rem 0 3rem;
    color: var(--purpleTxt);
}
#footer a {
    font-size: 2rem;
}

#footer .contact h6 {
    font-size: 2rem;
    font-weight: normal;
    margin: 3rem 0 2rem;
}
#footer .contact a {
    margin-left: 1rem;
}

#footer .links li {
    display: block;
    margin-bottom: 1rem;
}

#footer .break-line {
    width: 100%;
    height: 2px;
    background: var(--purpleTxt);
    margin: 2rem 0;
    animation: width 5s linear infinite alternate;
}
#footer .social-media-links {
    text-align: right;
}
#footer .social-media-links li {
    display: inline-block;
    margin-left: 1rem;
}
#footer .social-media-links li a {
    width: 40px;
    height: 40px;
    background: var(--purpleTxt);
    color: var(--yellowTxt);
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.2s;
}
#footer .social-media-links li a:hover {
    transform: scale(1.2);
    background: red;
    color: #fff;
}

/* ========= Responsive ========= */
@media only screen and (max-width: 1100px) {
    #footer {
        background-size: 130%;
    }
}
@media only screen and (max-width: 850px) {
    #footer {
        background-size: 150%;
    }
}
@media only screen and (max-width: 750px) {
    #footer {
        background-size: 170%;
    }
}
@media only screen and (max-width: 650px) {
    #footer {
        background-size: 200%;
    }
}
@media only screen and (max-width: 550px) {
    #footer {
        background-size: 250%;
    }
}
@media only screen and (max-width: 450px) {
    #footer {
        background-size: 300%;
    }
}
@media only screen and (max-width: 400px) {
    #footer {
        background-size: 300%;
    }
}

/* Bugs Fixed */
.g-5,
.gx-5 {
    --bs-gutter-x: 2rem;
}
